*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    z-index: -100;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
	background: url("/images/moher.jpg");
	background-position: right top;
	background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    margin: 10rem auto;
    //background-color: rgba(255, 255, 255, 0.7);
    background-color: #134a88;
    border: 3px groove #134a88;
    color: #edeeef;
    //text-shadow: 4px 4px 10px #000000;
    padding: 1rem;
    //border-radius: 10px;
    max-width: 85vw;
}

.hero-title {
    //text-shadow: 2px 2px 1px #000000;
}

.hero-subtitle {
    margin-top: 1rem;
    width: 50%;
}

@media(min-width:600px) {
    .hero-subtitle {
        margin-top: 1rem;
        width: 100%;
    }

    .hero-text {
        max-width: max-content;
        margin-left: 10rem;
    }
}
