.modal-wrapper {
    position: absolute;
    top: 20vh;
    left: 20vw;
    right: 20vw;
    bottom: 20vh;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}