@import '../../../mixins.scss';
@import '../../../shared.scss';

.form-container {
    display: flex;
    flex-flow: column nowrap;

    width: 80vw;
    margin: auto;

    justify-content: center;
    align-items: center;
}

.form-field {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    margin: 1rem auto;
    label {
        flex: 1 1 100%;
    }
    input {
        flex: 1 1 100%
    }
}

.info-button {
    @include button($info-color, $white-color);
}

@media (min-width: 600px) {
    .form-field {
        flex-wrap: nowrap;
    }
    .form-field label {
        flex: 1 1 20%;
        text-align: center;
    }
}