@import '../../../mixins.scss';
@import '../../../shared.scss';

.form-container {
    display: flex;
    flex-flow: column nowrap;

    width: 80vw;
    margin: auto;

    justify-content: center;
    align-items: center;
}

.form-field {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    margin: 1rem auto;
    label {
        flex: 1 1 100%;
    }
    input {
        flex: 1 1 100%
    }
}

.info-button {
    @include button($info-color, $white-color);
    padding: 0.5rem;
}

@media (min-width: 600px) {
    .form-field {
        flex-wrap: nowrap;
    }
    .form-field label {
        flex: 1 1 20%;
        text-align: center;
    }
}

.modal-row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    input {
        flex: 1 1 100%;

        border:none;
        background-image:none;
        background-color:inherit;
        box-shadow: none;

        border-bottom: 3px double $white-color;
        color: darken($info-color, 15%);
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0 1rem ;
    }

    input {
        margin-bottom:1rem;
    }
}

@media (min-width: 600px) {
    .modal-row {
        flex-wrap: nowrap;
    }
}
