@import '../../../shared.scss';

.notification {
    margin: auto;

    width: 75vw;
    max-width: 30rem;

    padding: 1rem;
    text-align: center;

    border-radius: 10px;
}

.success {
    background-color: lighten($success-color, 15%);
    color: darken($success-color, 15%);
    border: 1px solid darken($success-color, 15%);
}

.error {
    background-color: lighten($danger-color,15%);
    color: darken($danger-color, 15%);
    border: 1px solid darken($danger-color, 15%);
}