.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 100;
    background-color: rgba(240, 248, 255, 0.5);
}

.nav-list {
    display: flex;
    list-style-type: none;

    li {
        padding: 0 1rem;
    }
}

